<div>
  <div style='width: 850px;margin:auto'>
    <img style='width: 800px' src="/assets/images/model-dentistry.jpg">
    <%# <%= image_tag( src="images/model-dentistry.jpg") %>
  </div>
  <h1 align="center">Case Cycle</h1>
  <h4 align="center"> Payment Management and Insurance Reimbursement Tracker</h4>
</div>
<%= link_to "My Treatments", treatments_path %>
