<div>
  <div style='width: 600px;margin:auto'>
    <img  style='width: 600px' src="https://res.cloudinary.com/mtree/image/upload/f_auto,q_auto,f_jpg,fl_attachment:DentalInsurance/dentalcare/%2F-%2Fmedia%2Fdentalcareus%2Fpractice-management%2Fimages%2Fcollections%2Fdentalinsurance.jpg%3Fla%3Den-us%26v%3D1-201610250723">
  </div>
  <h1 align="center">Case Cycle</h1>
  <h4 align="center"> Payment Management and Insurance Reimbursement Tracker</h4>
</div>
<%= link_to "My Treatments", treatments_path %>
